name: 06 - Contexts

run-name: 06-Contexts | DEBUG - ${{ inputs.debug }}
on: 
  push:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        default: false

jobs:
  echo-data:
    runs-on: ubuntu-latest
    env:
      MY_JOB_VAR: 'job'
      MY_OVERWRITTEN_VAR: 'job'
    steps:
      - name: Display information
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Event Name: ${{ github.event_name }}"
          echo "SHA: ${{ github.sha }}"
          echo "Ref: ${{ github.ref }}"
          echo "Actor: ${{ github.actor }}"
          echo "Workflow: ${{ github.workflow }}"
          echo "Job: ${{ github.job }}"

      - name: Retrieve variable
        run: |
          echo "Variable value: ${{ vars.MY_VAR }}"

      - name: Show environment variables
        run: |
          echo "Workflow env: ${{ env.WORKFLOW_VAR }}"
          echo "Overwritten env: ${{ env.MY_OVERWRITTEN_VAR }}"

  echo-data2:
    runs-on: ubuntu-latest
    steps:
      - name: Display information
        run: |
          echo "Workflow env: $WORKFLOW_VAR"
          echo "Overwritten env: $MY_OVERWRITTEN_VAR"
