name: 06 - Contexts
on: push

jobs:
     echo-data:
        runs-on: ubuntu-latest
        steps:
            - name: Display information
              run: |
                    echo "Repository: ${{ github.repository }}"
                    echo "Event Name: ${{ github.event_name }}"
                    echo "SHA: ${{ github.sha }}"
                    echo "Ref: ${{ github.ref }}"
                    echo "Actor: ${{ github.actor }}"
                    echo "Workflow: ${{ github.workflow }}"
                    echo "Job: ${{ github.job }}"

            - name: Retrieve variable
              run: |
                    echo "Variable value: ${{vars.MY_VAR}}"